In [5]:
#conda install -c conda-forge mlxtend
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [6]:
data =pd.read_csv('my_movies (2).csv')

In [7]:
conda install -c conda-forge mlxtend

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [8]:
data.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

# Pre-Processing
As the data is not in transaction formation We are using transaction Encoder

In [9]:
df =pd.get_dummies(data)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

# Apriori algorthim

In [6]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Sixth Sense, V4_Green Mile, LOTR1, V2_LOTR1, ...
1393      0.1  (Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...
1394      0.1  (Sixth Sense, V4_Green Mile, LOTR2, V2_LOTR1, ...
1395      0.1  (V4_Green Mile, LOTR1, LOTR2, V2_LOTR1, V3_Har...
1396      0.1  (Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...

[1397 rows x 2 columns]

In [7]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(V3_Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V1_Sixth Sense),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(Green Mile),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V5_LOTR2),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

# An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [8]:
rules.sort_values('lift',ascending = False)[0:40]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Sixth Sense, V3_Harry Potter1, Green Mile, Ha...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42207,"(V1_Sixth Sense, V5_LOTR2, LOTR1, Harry Potter1)","(V2_LOTR1, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42195,"(Harry Potter1, Green Mile, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42196,"(V5_LOTR2, Harry Potter1, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42197,"(V1_Sixth Sense, Green Mile, LOTR1, LOTR2)","(V5_LOTR2, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42198,"(V1_Sixth Sense, V5_LOTR2, LOTR1, LOTR2)","(V2_LOTR1, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42199,"(V5_LOTR2, Green Mile, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42200,"(V1_Sixth Sense, V2_LOTR1, LOTR1, Harry Potter1)","(V5_LOTR2, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42201,"(V2_LOTR1, Green Mile, LOTR1, Harry Potter1)","(V1_Sixth Sense, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42202,"(V5_LOTR2, V2_LOTR1, LOTR1, Harry Potter1)","(V1_Sixth Sense, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42203,"(V1_Sixth Sense, V2_LOTR1, Green Mile, LOTR1)","(V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42204,"(V1_Sixth Sense, V2_LOTR1, LOTR1, V5_LOTR2)","(Green Mile, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42205,"(V2_LOTR1, Green Mile, LOTR1, V5_LOTR2)","(V1_Sixth Sense, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42206,"(V1_Sixth Sense, Green Mile, LOTR1, Harry Pott...","(V5_LOTR2, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42208,"(V5_LOTR2, Green Mile, LOTR1, Harry Potter1)","(V1_Sixth Sense, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42222,"(V5_LOTR2, V2_LOTR1, Green Mile, Harry Potter1)","(V1_Sixth Sense, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42209,"(V1_Sixth Sense, Green Mile, LOTR1, V5_LOTR2)","(V2_LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42210,"(V1_Sixth Sense, V2_LOTR1, Harry Potter1, LOTR2)","(Green Mile, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42211,"(V2_LOTR1, Green Mile, Harry Potter1, LOTR2)","(V1_Sixth Sense, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42212,"(V5_LOTR2, V2_LOTR1, Harry Potter1, LOTR2)","(V1_Sixth Sense, Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42213,"(V1_Sixth Sense, V2_LOTR1, Green Mile, LOTR2)","(V5_LOTR2, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42214,"(V5_LOTR2, V1_Sixth Sense, V2_LOTR1, LOTR2)","(Green Mile, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42215,"(V5_LOTR2, V2_LOTR1, Green Mile, LOTR2)","(V1_Sixth Sense, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42216,"(V1_Sixth Sense, Green Mile, Harry Potter1, LO...","(V2_LOTR1, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42217,"(V1_Sixth Sense, V5_LOTR2, Harry Potter1, LOTR2)","(V2_LOTR1, Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42218,"(V5_LOTR2, Green Mile, Harry Potter1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42219,"(V1_Sixth Sense, V5_LOTR2, Green Mile, LOTR2)","(V2_LOTR1, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42220,"(V1_Sixth Sense, V2_LOTR1, Green Mile, Harry P...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42194,"(V1_Sixth Sense, Harry Potter1, LOTR1, LOTR2)","(V2_LOTR1, Green Mile, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42193,"(V5_LOTR2, V2_LOTR1, LOTR1, LOTR2)","(V1_Sixth Sense, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42192,"(V2_LOTR1, Green Mile, LOTR1, LOTR2)","(V1_Sixth Sense, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42191,"(V1_Sixth Sense, V2_LOTR1, LOTR1, LOTR2)","(V5_LOTR2, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42152,"(V1_Sixth Sense, Harry Potter1)","(V4_Green Mile, LOTR1, LOTR2, V2_LOTR1, Green ...",0.1,0.1,0.1,1.0,10.0,0.09,inf
42153,"(Green Mile, Harry Potter1)","(V4_Green Mile, LOTR1, LOTR2, V2_LOTR1, V1_Six...",0.1,0.1,0.1,1.0,10.0,0.09,inf
42158,(V2_LOTR1),"(V4_Green Mile, LOTR1, LOTR2, Harry Potter1, V...",0.1,0.1,0.1,1.0,10.0,0.09,inf
42162,"(LOTR1, LOTR2, V2_LOTR1, Harry Potter1, V1_Six...",(V5_LOTR2),0.1,0.1,0.1,1.0,10.0,0.09,inf
42166,"(LOTR1, LOTR2, Harry Potter1, V1_Sixth Sense, ...",(V2_LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
42169,"(LOTR1, LOTR2, V2_LOTR1, Harry Potter1, V1_Six...","(Green Mile, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42170,"(LOTR1, LOTR2, V2_LOTR1, Harry Potter1, Green ...","(V1_Sixth Sense, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42172,"(LOTR1, LOTR2, V2_LOTR1, V1_Sixth Sense, Green...","(V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [9]:
rules[rules.lift>5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
124,(Harry Potter2),(V1_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
125,(V1_Harry Potter1),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
126,(Harry Potter2),(V2_Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
127,(V2_Harry Potter2),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
132,(LOTR),(V2_LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
...,...,...,...,...,...,...,...,...,...
64240,"(V1_Sixth Sense, V5_LOTR2)","(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64241,"(Green Mile, V5_LOTR2)","(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64246,(V2_LOTR1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V3_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64247,(V3_Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64251,(V5_LOTR2),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf

# Data set book

In [10]:
import pandas as pd
data = pd.read_csv('book.csv', encoding='latin-1')

In [10]:
data

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [12]:
df =pd.get_dummies(data)
df.head()

,Unnamed: 0,User.ID,Book.Rating,"Book.Title_ Jason, Madison &amp",Book.Title_ Other Stories;Merril;1985;McClelland &amp,Book.Title_ Repairing PC Drives &amp,Book.Title_'48,Book.Title_'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,Book.Title_...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,Book.Title_01-01-00: A Novel of the Millennium,...,Book.Title_Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),Book.Title_\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,Book.Title_\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"Book.Title_\More More More,\ Said the Baby",Book.Title_\O\ Is for Outlaw,"Book.Title_\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","Book.Title_\Well, there's your problem\: Cartoons",Book.Title_iI Paradiso Degli Orchi,Book.Title_stardust,Book.Title_Ã?Â?bermorgen.
0,1,276726,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,276729,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,276729,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,276736,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,276737,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df1=df.iloc[:,2:]

In [30]:
df1

,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,V1_Gladiator,V1_Harry Potter1,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,1,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,1,1
1,0,0,1,0,0,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
5,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
6,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
9,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,0

# Apriori algorthim

In [31]:
frequent_itemsets = apriori(df1, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0        0.2                                            (LOTR1)
1        0.2                                    (Harry Potter1)
2        0.6                                          (Patriot)
3        0.2                                            (LOTR2)
4        0.1                                    (Harry Potter2)
..       ...                                                ...
627      0.1  (LOTR2, Harry Potter1, V3_Harry Potter1, V4_Gr...
628      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...
629      0.1  (LOTR2, V3_Harry Potter1, V4_Green Mile, Green...
630      0.1  (LOTR2, Harry Potter1, V3_Harry Potter1, V4_Gr...
631      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...

[632 rows x 2 columns]

In [14]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(V3_Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V1_Sixth Sense),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(Green Mile),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V5_LOTR2),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

# An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [15]:
rules.sort_values('lift',ascending = False)[0:30]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Sixth Sense, V3_Harry Potter1, Green Mile, Ha...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42207,"(V1_Sixth Sense, V5_LOTR2, LOTR1, Harry Potter1)","(V2_LOTR1, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42195,"(Harry Potter1, Green Mile, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42196,"(V5_LOTR2, Harry Potter1, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42197,"(V1_Sixth Sense, Green Mile, LOTR1, LOTR2)","(V5_LOTR2, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42198,"(V1_Sixth Sense, V5_LOTR2, LOTR1, LOTR2)","(V2_LOTR1, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42199,"(V5_LOTR2, Green Mile, LOTR1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42200,"(V1_Sixth Sense, V2_LOTR1, LOTR1, Harry Potter1)","(V5_LOTR2, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42201,"(V2_LOTR1, Green Mile, LOTR1, Harry Potter1)","(V1_Sixth Sense, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42202,"(V5_LOTR2, V2_LOTR1, LOTR1, Harry Potter1)","(V1_Sixth Sense, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42203,"(V1_Sixth Sense, V2_LOTR1, Green Mile, LOTR1)","(V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42204,"(V1_Sixth Sense, V2_LOTR1, LOTR1, V5_LOTR2)","(Green Mile, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42205,"(V2_LOTR1, Green Mile, LOTR1, V5_LOTR2)","(V1_Sixth Sense, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42206,"(V1_Sixth Sense, Green Mile, LOTR1, Harry Pott...","(V5_LOTR2, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42208,"(V5_LOTR2, Green Mile, LOTR1, Harry Potter1)","(V1_Sixth Sense, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42222,"(V5_LOTR2, V2_LOTR1, Green Mile, Harry Potter1)","(V1_Sixth Sense, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42209,"(V1_Sixth Sense, Green Mile, LOTR1, V5_LOTR2)","(V2_LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42210,"(V1_Sixth Sense, V2_LOTR1, Harry Potter1, LOTR2)","(Green Mile, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42211,"(V2_LOTR1, Green Mile, Harry Potter1, LOTR2)","(V1_Sixth Sense, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42212,"(V5_LOTR2, V2_LOTR1, Harry Potter1, LOTR2)","(V1_Sixth Sense, Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42213,"(V1_Sixth Sense, V2_LOTR1, Green Mile, LOTR2)","(V5_LOTR2, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42214,"(V5_LOTR2, V1_Sixth Sense, V2_LOTR1, LOTR2)","(Green Mile, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42215,"(V5_LOTR2, V2_LOTR1, Green Mile, LOTR2)","(V1_Sixth Sense, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42216,"(V1_Sixth Sense, Green Mile, Harry Potter1, LO...","(V2_LOTR1, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42217,"(V1_Sixth Sense, V5_LOTR2, Harry Potter1, LOTR2)","(V2_LOTR1, Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42218,"(V5_LOTR2, Green Mile, Harry Potter1, LOTR2)","(V1_Sixth Sense, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42219,"(V1_Sixth Sense, V5_LOTR2, Green Mile, LOTR2)","(V2_LOTR1, LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42220,"(V1_Sixth Sense, V2_LOTR1, Green Mile, Harry P...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42194,"(V1_Sixth Sense, Harry Potter1, LOTR1, LOTR2)","(V2_LOTR1, Green Mile, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42193,"(V5_LOTR2, V2_LOTR1, LOTR1, LOTR2)","(V1_Sixth Sense, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [16]:
rules[rules.lift>5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
124,(Harry Potter2),(V1_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
125,(V1_Harry Potter1),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
126,(Harry Potter2),(V2_Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
127,(V2_Harry Potter2),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
132,(LOTR),(V2_LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
...,...,...,...,...,...,...,...,...,...
64240,"(V1_Sixth Sense, V5_LOTR2)","(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64241,"(Green Mile, V5_LOTR2)","(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64246,(V2_LOTR1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V3_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64247,(V3_Harry Potter1),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64251,(V5_LOTR2),"(Sixth Sense, V4_Green Mile, LOTR1, LOTR2, V2_...",0.1,0.1,0.1,1.0,10.0,0.09,inf

# Data set Groceries

In [17]:
data = pd.read_csv('groceries.csv')

# Pre-Processing
As the data is not in transaction formation We are using transaction Encoder

In [18]:
df =pd.get_dummies(data)
df.head()

,citrus fruit_Instant food products,citrus fruit_UHT-milk,citrus fruit_abrasive cleaner,citrus fruit_artif. sweetener,citrus fruit_baby cosmetics,citrus fruit_bags,citrus fruit_baking powder,citrus fruit_bathroom cleaner,citrus fruit_beef,citrus fruit_berries,...,Unnamed: 27_chocolate,Unnamed: 27_hygiene articles,Unnamed: 27_napkins,Unnamed: 27_sugar,Unnamed: 28_cooking chocolate,Unnamed: 28_house keeping products,Unnamed: 28_soups,Unnamed: 29_skin care,Unnamed: 30_hygiene articles,Unnamed: 31_candles
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df2=df.iloc[:,2:]

In [33]:
df2

,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,V1_Gladiator,V1_Harry Potter1,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,1,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,1,1
1,0,0,1,0,0,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
5,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
6,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
9,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,0

# Aprioci algorthim

In [34]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...
1393      0.1  (V3_Harry Potter1, V4_Green Mile, Green Mile, ...
1394      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...
1395      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...
1396      0.1  (Harry Potter1, V3_Harry Potter1, V4_Green Mil...

[1397 rows x 2 columns]

In [35]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(LOTR1),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V2_LOTR1),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(LOTR2),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V5_LOTR2),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(V1_Sixth Sense),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

# An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [36]:
rules.sort_values('lift',ascending = False)[0:30]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(LOTR1, LOTR2, Harry Potter1, Sixth Sense)","(V5_LOTR2, Green Mile, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(V5_LOTR2, LOTR1, Sixth Sense)","(V4_Green Mile, Harry Potter1, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(V2_LOTR1, Sixth Sense, LOTR2)","(V5_LOTR2, LOTR1, V4_Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(V5_LOTR2, Sixth Sense, LOTR2)","(LOTR1, V4_Green Mile, Harry Potter1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(LOTR1, V2_LOTR1, LOTR2)","(V5_LOTR2, V4_Green Mile, Harry Potter1, Sixth...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V5_LOTR2, LOTR1, LOTR2)","(V4_Green Mile, Harry Potter1, V2_LOTR1, Sixth...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V5_LOTR2, V2_LOTR1, LOTR2)","(LOTR1, V4_Green Mile, Harry Potter1, Sixth Se...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(V4_Green Mile, Harry Potter1, Sixth Sense)","(V5_LOTR2, LOTR1, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(LOTR1, V4_Green Mile, Harry Potter1)","(V5_LOTR2, V2_LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(V4_Green Mile, Harry Potter1, V2_LOTR1)","(V5_LOTR2, LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(V5_LOTR2, V4_Green Mile, Harry Potter1)","(LOTR1, V2_LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(LOTR1, Harry Potter1, Sixth Sense)","(V5_LOTR2, V4_Green Mile, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(V2_LOTR1, Harry Potter1, Sixth Sense)","(V5_LOTR2, LOTR1, V4_Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(V5_LOTR2, Harry Potter1, Sixth Sense)","(LOTR1, V4_Green Mile, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(LOTR1, Harry Potter1, V2_LOTR1)","(V5_LOTR2, V4_Green Mile, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V5_LOTR2, LOTR1, Harry Potter1)","(V4_Green Mile, Sixth Sense, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(V5_LOTR2, Harry Potter1, V2_LOTR1)","(LOTR1, V4_Green Mile, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(LOTR1, V4_Green Mile, Sixth Sense)","(V5_LOTR2, V2_LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(V4_Green Mile, V2_LOTR1, Sixth Sense)","(V5_LOTR2, LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(V5_LOTR2, V4_Green Mile, Sixth Sense)","(LOTR1, V2_LOTR1, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33433,"(LOTR1, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, Sixth Sense, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33434,"(V5_LOTR2, LOTR1, V4_Green Mile)","(V2_LOTR1, Sixth Sense, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33435,"(V5_LOTR2, V4_Green Mile, V2_LOTR1)","(LOTR1, Sixth Sense, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33414,"(LOTR1, Sixth Sense, LOTR2)","(V5_LOTR2, V4_Green Mile, Harry Potter1, V2_LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33413,"(V5_LOTR2, V4_Green Mile, LOTR2)","(LOTR1, V2_LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33412,"(V4_Green Mile, V2_LOTR1, LOTR2)","(V5_LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33400,"(LOTR1, V4_Green Mile, V2_LOTR1, Sixth Sense)","(V5_LOTR2, Harry Potter1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33391,"(V4_Green Mile, Harry Potter1, V2_LOTR1, Sixth...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33392,"(V5_LOTR2, V4_Green Mile, Harry Potter1, Sixth...","(LOTR1, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33393,"(LOTR1, V4_Green Mile, Harry Potter1, V2_LOTR1)","(V5_LOTR2, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [37]:
rules[rules.lift>5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
124,(Harry Potter2),(V1_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
125,(V1_Harry Potter1),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
126,(Harry Potter2),(V2_Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
127,(V2_Harry Potter2),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
132,(V2_LOTR),(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
...,...,...,...,...,...,...,...,...,...
64240,"(V1_Sixth Sense, LOTR2)","(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64241,"(V5_LOTR2, V1_Sixth Sense)","(LOTR2, Harry Potter1, V3_Harry Potter1, V4_Gr...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64243,(V3_Harry Potter1),"(Harry Potter1, V4_Green Mile, Green Mile, Six...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64248,(V2_LOTR1),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64250,(V5_LOTR2),"(Harry Potter1, V3_Harry Potter1, V4_Green Mil...",0.1,0.1,0.1,1.0,10.0,0.09,inf